.landing-edit {
  position: relative;
}
.le-content{
  border: 1px dashed transparent;
  margin: -1px -1px -1px -1px;
}
.landing-edit:hover .le-content,
.landing-edit.active .le-content{  border: 1px dashed #eae7a2;
}
.le-actions {
  display: none;
  position: absolute;
  right: 0;
  top: -32px;
  border: 1px dashed #eae7a2;
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
  padding: 5px 5px 7px;
  z-index: 99999;
}
.landing-edit:hover .le-actions,
.landing-edit.active .le-actions{
  display: block;
}

.le-actions a {
  display: none;
  width: 20px;
  height: 20px;
  background: url('img/sprite.png') no-repeat 0 0;
  float: left;
}

.le-actions .le-edit,
.active .le-actions .le-save,
.active .le-actions .le-cancel{
  display: block;
}
.active .le-actions .le-edit{
  display: none;
}
.le-actions .le-edit:hover {
  background-position: -21px 0;
}
.le-actions .le-save {
  background-position: 0 -21px;
  margin: 0 5px 0 0;
}
.le-actions .le-save:hover {
  background-position: -21px -21px;
}
.le-actions .le-cancel {
  background-position: 0 -42px;
}
.le-actions .le-cancel:hover {
  background-position: -21px -42px;
}